@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* --- */
.custom-shadow {
  --shadow-bottom-color: 5px 5px 10px hsla(0, 0%, 83%, 0.9);
  --shadow-top-color: -5px -5px 10px hsla(0, 0%, 100%, 0.9);
  box-shadow: var(--shadow-bottom-color), var(--shadow-top-color);
}
.custom-shadow:hover {
  --tw-bg-opacity: 0.05;
  background-color: rgb(115 115 115 / var(--tw-bg-opacity));
}
.custom-shadow:active {
  --tw-bg-opacity: 0;
  box-shadow: inset var(--shadow-bottom-color), inset var(--shadow-top-color);
}

/* --- */
.drawer {
  background-color: transparent;
  pointer-events: none;
}
.drawer .drawer_container {
  transform: translateX(-100%);
}

.drawer-active {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
.drawer-active .drawer_container {
  transform: translateX(0%);
}

.drawer_slice-group::-webkit-scrollbar {
  width: 6px; /* 寬度 */
  height: 6px; /* 高度 */
}
.drawer_slice-group::-webkit-scrollbar-track {
  background: #f1f1f1; /* 軌道背景顏色 */
  border-radius: 10px; /* 圓角 */
}
.drawer_slice-group::-webkit-scrollbar-thumb {
  background: #bbb; /* 手柄背景顏色 */
  border-radius: 10px; /* 圓角 */
  border: 1px solid #f1f1f1; /* 外邊框以匹配軌道背景 */
}
/* 手柄在懸停狀態下的顏色變化 */
.drawer_slice-group::-webkit-scrollbar-thumb:hover {
  background: #888; /* 懸停時的手柄顏色 */
}

/* --- */
.slice_inputer:focus + .slice_remover::before {
  content: "";
  @apply block w-[6px] aspect-square absolute top-[-5px] right-[-3px] bg-red-400 rounded-full;
}
